In [32]:
import csv

items = {'1':[str(i) for i in range(0,5)], '2': [str(i) for i in range(0,5)]}
print(items)
fields = ['1','2']

with open('output.csv','a+') as f: # handle the source file
    f.write("{}\n".format('\t'.join(str(field)for field in fields))) # write header 
#     for item in items:
#         f.write("{}\t{}\n".format(item,'\t'.join(str(i) for i in items[item]))) # write items
        
    for i in range(len(items['1'])):
        for item in items:
            f.write("{}\t".format(str((items[item])[i]))) # write items
        f.write("\n")

{'1': ['0', '1', '2', '3', '4'], '2': ['0', '1', '2', '3', '4']}

In [22]:
items['1'][1]

'1'

In [51]:
for item in items:
    print( item)
    for value in items[item]:
        print(value)

1
0
1
2
3
4
2
0
1
2
3
4

In [21]:
print(len(items['1']))

5

In [17]:
import pandas as pd
items = {'1':[str(i) for i in range(0,5)], '2': [str(i) for i in range(0,5)]}
df = pd.DataFrame.from_dict(items)

In [18]:
df

   1  2
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4

In [19]:
df.to_csv('outputpd.csv', index=False)

In [26]:
def exp_(dictt):
    yield dictt
    
print(exp_(items))

<generator object exp_ at 0x000001BC0C76CC80>

In [27]:
for i in exp_(items):
    print(i)

{'1': ['0', '1', '2', '3', '4'], '2': ['0', '1', '2', '3', '4']}